<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" manifest="manifest.json"> 

<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>Robinson</title>
<link href="master.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="wrap">
		<div id="tcp" class="container">
			<div id="map"></div>		
		</div>
	</div>

  <script type="text/javascript" src="js/lib/map2.js"></script>	
  <script type="text/javascript" src="js/lib/xui-core-1.0.0.min.js"></script>
  <script type="text/javascript" src="js/lib/raphael-min.js"></script>
  <script type="text/javascript" src="js/VectorMap.js"></script>
  <script type="text/javascript" src="js/App.js"></script>
</body> 
</html>
